table {
    width: 100%;
}

mat-form-field {
    width: 97%;
}

th{
    background-color: #5f8bab6d;
    color: black;
    font-weight: bold;
    font-size: medium;
    text-align: left;
}

td {
    padding: auto;
    text-align: left;
    font-size: medium;
}

// Icono de filtro 
// mat-icon{
//     font-size: 1.5rem;
//     cursor: pointer;
//     align-items: right;
// }

.id{
    background-color: #309ce998;
    width: 5%;
}


.mat-elevation-z8 {
    overflow: auto; /* Agregar barra de desplazamiento cuando el contenido exceda el espacio */
    max-height: 400px; /* Altura máxima de la tabla */
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 8px; /* Espacio alrededor del contenido de las celdas */
    border-bottom: 1px solid #ddd; /* Borde inferior de las celdas */
    text-align: left; /* Alineación del texto */
  }
  
  .mat-header-row {
    position: sticky; /* Mantener los encabezados pegados mientras se desplaza */
    top: 0; /* Pegar los encabezados en la parte superior */
    background-color: #f5f5f5; /* Color de fondo de los encabezados */
    z-index: 1; /* Asegurarse de que los encabezados estén en la parte superior */
  }
  
  .mat-row {
    transition: background-color 0.3s ease-in-out; /* Efecto de transición al pasar el mouse */
  }
  
  .mat-row:hover {
    background-color: #f0f0f0; /* Cambio de color al pasar el mouse */
  }
