<div class="full-container">
    <div class="container-text-center">
        <h1 class="my-4">Resumen de compra</h1>
        <mat-form-field>
          <mat-label>Código de Producto</mat-label>
          <input matInput class="barcode" type="text" value="Código" [(ngModel)]="barcode" (keyup.enter)="onEnterKeyPressed(barcode)" >
        </mat-form-field>
          <button mat-raised-button color="primary" (click)="tarjeta()">Tarjeta</button>
          <button mat-raised-button color="primary" (click)="efectivo()">Efectivo</button>
          <button mat-raised-button color="primary" (click)="ticket()">Imprimir</button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element">$ {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="ammount">
            <th mat-header-cell *matHeaderCellDef> Cantidad </th>
            <td mat-cell *matCellDef="let element">
                <input *ngIf="element.id != id" id="editAmmount" type="number" value="{{element.ammount}}" [disabled]="!element.amountActive" min="1">
                <input *ngIf="element.id == id" type="number" [(ngModel)]="ammount" min="1">
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Acción </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="element.amountActive = !element.amountActive" (click)="edit(element.id, ammount, element.ammount)"><mat-icon>edit</mat-icon></button>
                <!-- <button mat-icon-button color="warn" *ngIf="amountActive == true" (click)="element.amountActive = false" (click)="cancel()"><mat-icon>clear</mat-icon></button>
                <button mat-icon-button *ngIf="amountActive == true" (click)="element.amountActive = false" (click)="check()"><mat-icon>done</mat-icon></button> -->
                <button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button>
            </td>
        </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    <br>

    <div class="container-total-right">
        <h2 class="card-title">Total de Compra</h2>
        <!-- <hr> -->
        <div class="line" ></div>
        <p>Subtotal: <span>$ {{subtotal}}</span></p>
        <p>Descuento: <span>{{descuento}}</span></p>
        <!-- <hr> -->
            <div class="line"></div>
        <p>Total: <span class="total">$ {{total}}</span></p>

        <button mat-raised-button class="comprar" (click)="pagar()">Comprar</button>
        <button mat-raised-button color="warn" class="cancelar" (click)="cancelar()">Cancelar</button>
    </div>
</div>
