<h2 mat-dialog-title>Crear Producto</h2>
<div mat-dialog-content>
    <form [formGroup]="generateForm" (submit)="generateProduct()">

        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Nombre</mat-label>
            <!-- <mat-icon>add_circle_outline</mat-icon> -->
            <input matInput type="text" formControlName="name" id="name" placeholder="Nombre de producto">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always" class="ammount">
            <mat-label>Precio</mat-label>
            <!-- <mat-icon>attach_money</mat-icon> -->
            <input matInput type="number" formControlName="price" id="price" placeholder="0" class="price" min="0">
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>.00</span>
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Descripción</mat-label>
            <!-- <mat-icon>description</mat-icon> -->
            <input matInput type="text" formControlName="description" id="description" placeholder="Descripción de producto">
            <mat-error>Este campo es requerido</mat-error>
        </mat-form-field>

        <div>
            <button mat-raised-button color="primary" [disabled]="generateForm.invalid" id="create">Crear</button>
            <button mat-raised-button color="warn" class="cancel" mat-dialog-close (click)="cancel()">Cancelar</button>
        </div>

    </form>
</div>